# Python
__pycache__/
*.py[cod]
.venv/

# Secrets
.env
.env.*
!.env.example

# Cache / Test
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Logs
*.log
logs/

# Project private/local data
data/raw/
data/vector/

# Local DB
*.db
*.sqlite
*.sqlite3

# Streamlit secrets
.streamlit/secrets.toml
